.NavBar
{
    height: 6rem;
    width:100%;
    background-color: #042f6c;
    display: flex;
    justify-content: flex-end;
}

main
{
    min-height:calc(100vh - 6rem);
    width:100%;
    background-image:url(../images/Wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

